<?xml version="1.0" ?>
<model>
    <name>Khepera-IV</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>Francisco José Mañas Álvarez</name>
        <email>fjmanas@dia.uned.es</email>
    </author>
    <description>Robot diferencial Khepera IV</description>
</model>
